@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: var(--primary-bg-color);
  color: var(--primary-text-color);
  min-height: 100vh;
}
.con1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
ul li {
  list-style: none;
}
h1 {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 450;
  margin-bottom: 1rem;
  letter-spacing: -1px;
}
.wrapper {
  width: var(--wrapperSize);
}
.fullWidth {
  width: 100%;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
@media screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
    padding: 0 1rem;
  }
}
:root {
  --font-family: "Inter", sans-serif;
  --primary-color: #ffd338;
  --secondary-color: white;
  --primary-bg-color: #151515;
  --primary-text-color: white;
  --wrapperSize: 1280px;
  --carousleSize: 260px;
  --carousleHeight: 180px;
  --carousleBorderRadius: 32px;
  --carousleTime: 145s;
  --imageSize: 180px;
  --imageSizeMobile: 100%;
  --imageSizeMobileHeight: 30vh;
}
.home-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  padding: 2rem 1rem;
}
.home-header h1 {
  font-size: 2.2rem;
  line-height: 2.2rem;
  font-weight: 450;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.home-header img {
  width: 128px;
}
.bgElementContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}
.backgroundElement {
  display: flex;
  position: absolute;
  z-index: -1;
  top: 0;
  right: auto;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  filter: blur(5px);
  animation: backgroundElement 50s infinite linear;
}
@keyframes backgroundElement {
  0% {
    transform: scale(1.5) rotate(0);
  }
  100% {
    transform: scale(1.5) rotate(360deg);
  }
}
.heroSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
}
.heroSection a {
  background: var(--primary-color);
  color: var(--primary-bg-color);
  padding: 0.5rem 4rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  border: 2px solid transparent;
}
.heroSection a:hover {
  background: #fff;
  color: #000;
  text-decoration: underline;
  border: 2px solid var(--primary-color);
}
.heroSection h1 {
  text-align: center;
  letter-spacing: -1px;
  font-weight: 200;
  font-size: 3rem;
  line-height: 3rem;
  width: 70%;
  margin: 0;
}
.heroSection span {
  width: 70%;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
}
.carousal {
  display: flex;
  width: 100%;
  overflow: visible;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  position: relative;
  margin: 0.5rem 0;
  overflow: hidden;
}
.carousal::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 30%;
  z-index: 1;
  background: linear-gradient(
    to right,
    var(--primary-bg-color) 0,
    transparent 100%
  );
}
.carousal::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 30%;
  z-index: 1;
  background: linear-gradient(
    to left,
    var(--primary-bg-color) 0,
    transparent 100%
  );
}
.carousal div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  animation: carousle01 var(--carousleTime) infinite linear;
  animation-delay: calc(var(--carousleTime) * -1);
  margin-right: 0.12rem;
}
.carousal div:nth-child(2) {
  margin-left: 0.12rem;
  animation: carousle02 var(--carousleTime) infinite linear;
  animation-delay: calc(var(--carousleTime) / -2);
}
.carousal div img {
  width: var(--carousleSize);
  height: var(--carousleHeight);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  filter: saturate(0) contrast(1.2) brightness(1.2);
}
.carousal div img:hover {
  filter: saturate(1);
}
.carousal02 div {
  animation: carousle01A var(--carousleTime) infinite linear;
  animation-delay: calc(var(--carousleTime) * -1);
  margin-left: 0.12rem;
}
.carousal02 div:nth-child(2) {
  margin-right: 0.12rem;
  animation: carousle02A var(--carousleTime) infinite linear;
  animation-delay: calc(var(--carousleTime) / -2);
}
@keyframes carousle01 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes carousle02 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes carousle01A {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes carousle02A {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
.footer {
  font-size: 12px;
  margin: 2rem 0;
}
.loginPopup {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;

  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-sizing: border-box;
}
.conm{
  width: 99vw;
  
}
.con2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.closeButton {
 display: flex;
 border-radius: 100%;
 margin-left: 300px;
 background-color: #ffd338;
}

.loginPopup .loginPopupContent {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: #000;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 20px rgba(255, 225, 31, 0.35);
}
.loginPopup .loginPopupContent .loginPopupHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.loginPopup .loginPopupContent .loginPopupHeader span {
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
}
.loginPopup .loginPopupContent .loginPopupHeader img {
  width: 100px;
}
.loginPopup .loginPopupContent .loginPopupBody {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.loginPopup .loginPopupContent .loginPopupBody .inputField {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.loginPopup .loginPopupContent .loginPopupBody .inputField input[type="email"],
.loginPopup
  .loginPopupContent
  .loginPopupBody
  .inputField
  input[type="password"] {
  height: 40px;
  padding: 0.5rem;
  border-radius: 0.2rem;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.loginPopup
  .loginPopupContent
  .loginPopupBody
  .inputField
  input[type="email"]:focus,
.loginPopup
  .loginPopupContent
  .loginPopupBody
  .inputField
  input[type="password"]:focus {
  border: 2px solid var(--primary-color);
}
.loginPopup .loginPopupContent .loginPopupBody button {
  background: var(--primary-color);
  color: var(--primary-bg-color);
  padding: 0.5rem 4rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1rem;
  cursor: pointer;
  border: 2px solid transparent;
}
.loginPopup .loginPopupContent .loginPopupBody button:hover {
  background: #fff;
  color: #000;
  border: 2px solid var(--primary-color);
}
.dashboardHeaderContainer {
  background: var(--primary-bg-color);
  box-shadow: 0 5px 10px rgba(255, 218, 35, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--primary-color);
}
.dashboardHeaderContainer:hover {
  background: var(--primary-bg-color);
  box-shadow: 0 12px 30px rgba(255, 218, 35, 0.25);
  border-bottom: 2px solid var(--primary-color);
}
.dashboardHeader {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between;
}
.dashboardHeader .userInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}
.dashboardHeader .userInfo span.user {
  background: var(--primary-color);
  color: var(--primary-bg-color);
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}
.dashboardHeader .userInfo .userMenu {
  display: none;
}

.dashboardHeader .userInfo .userMenu.show {
  display: flex;
}
.dashboardHeader .userInfo ul.userMenu {
  position: absolute;
  top: 120%;
  left: -100px;
  width: auto;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 150px;
  font-weight: 500;
  font-size: 13px;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: #000;
  padding: 1rem;
  color: #fff;
}
.dashboardHeader .userInfo img {
  width: 32px;
}
.dashboardHeader img {
  width: 120px;
}
.contentWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.5rem;
}
.imageGridContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1.5rem 0;
}
.imageGridContainer h1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 3.5rem;
  margin: 0;
}
.imageGridContainer .imageGrid {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 1rem;
  width: 100%;
}
.imageGridContainer .imageGrid div.image {
  display: flex;
  position: relative;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #f0d62c;
}
.imageGridContainer .imageGrid div.image:hover img.generatedImage {
  filter: saturate(1.5) brightness(0.6) contrast(1.2);
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(240, 214, 44, 0.3);
  border: 1px solid #f0d62c;
}
.imageGridContainer .imageGrid div.image:hover img.addToFolderIcon {
  display: flex;
  opacity: 1;
}
.imageGridContainer .imageGrid div.image:hover img.downloadIcon {
  display: flex;
  opacity: 1;
}
.imageGridContainer .imageGrid div.image span.count {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  color: var(--primary-color);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 0.5rem;
  border-radius: 20px;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 500;
}
.imageGridContainer .imageGrid div.image img.addToFolderIcon {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 40px;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 24px;
  display: none;
  opacity: 0;
  border: 1px solid rgba(240, 214, 44, 0.1);
}
.imageGridContainer .imageGrid div.image img.addToFolderIcon:hover {
  filter: brightness(1.4);
  border: 1px solid rgba(240, 214, 44, 0.3);
  transform: scale(1.2);
}
.imageGridContainer .imageGrid div.image img.downloadIcon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 0.5rem;
  border-radius: 24px;
  display: none;
  opacity: 0;
  border: 1px solid rgba(240, 214, 44, 0.1);
}
.imageGridContainer .imageGrid div.image img.downloadIcon:hover {
  filter: brightness(1.4);
  border: 1px solid rgba(240, 214, 44, 0.3);
  transform: scale(1.2);
}
.imageGridContainer .imageGrid div.image img.generatedImage {
  width: var(--imageSize);
  height: var(--imageSize);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 1rem;
  filter: saturate(1) contrast(1.1) brightness(1);
  transition: all 0.2s ease-in-out;
}
.imageGridContainer .imageGrid div.image img.generatedImage:hover {
  filter: saturate(1.5) brightness(0.6) contrast(1.2);
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(240, 214, 44, 0.3);
  border: 1px solid #f0d62c;
}

.generateBar {
  display: flex;
  max-width: 1300px;
  width: 80%;
  align-items: center;
  justify-content: center;
  padding: 0 0;
  position: fixed;
  z-index: 100;
  background: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  bottom: 2rem;
  border-radius: 2rem;
  border: 2px solid var(--primary-color);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}
.generateBar:hover {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}
.generateBar img.upload-image {
  position: absolute;
  right: calc(140px + 1rem);
  width: 25px;
  cursor: pointer;
}
.generateBar input[type="text"] {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  color: #000;
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  font-weight: 500;
  width: 100%;
  outline: 0;
  text-indent: 1rem;
}
.generateBar button {
  background: #000;
  color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 0.4rem;
  width: 140px;
}
.generateBar button:hover {
  background: var(--primary-color);
  color: #000;
}
@media screen and (max-width: 1024px) {
  .imageGridContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1.5rem 0;
  }
  .imageGridContainer h1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 3.5rem;
    margin: 0;
  }
  .imageGridContainer .imageGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100% !important;
    align-items: stretch;
    justify-content: center;
  }
  .imageGridContainer .imageGrid div.image {
    display: flex;
    position: relative;
    width: calc(50% - 0.5rem);
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #f0d62c;
  }
  .imageGridContainer .imageGrid div.image:hover img.generatedImage {
    filter: saturate(1.5) brightness(0.6) contrast(1.2);
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(240, 214, 44, 0.3);
    border: 1px solid #f0d62c;
  }
  .imageGridContainer .imageGrid div.image:hover img.addToFolderIcon {
    display: flex;
    opacity: 1;
  }
  .imageGridContainer .imageGrid div.image:hover img.downloadIcon {
    display: flex;
    opacity: 1;
  }
  .imageGridContainer .imageGrid div.image span.count {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    color: var(--primary-color);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 0.5rem;
    border-radius: 20px;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: 500;
  }
  .imageGridContainer .imageGrid div.image img.addToFolderIcon {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    width: 40px;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 24px;
    display: none;
    opacity: 0;
    border: 1px solid rgba(240, 214, 44, 0.1);
  }
  .imageGridContainer .imageGrid div.image img.addToFolderIcon:hover {
    filter: brightness(1.4);
    border: 1px solid rgba(240, 214, 44, 0.3);
    transform: scale(1.2);
  }
  .imageGridContainer .imageGrid div.image img.downloadIcon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 0.5rem;
    border-radius: 24px;
    display: none;
    opacity: 0;
    border: 1px solid rgba(240, 214, 44, 0.1);
  }
  .imageGridContainer .imageGrid div.image img.downloadIcon:hover {
    filter: brightness(1.4);
    border: 1px solid rgba(240, 214, 44, 0.3);
    transform: scale(1.2);
  }
  .imageGridContainer .imageGrid div.image img.generatedImage {
    width: var(--imageSizeMobile) !important;
    height: var(--imageSizeMobileHeight) !important;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border-radius: 1rem;
    filter: saturate(1) contrast(1.1) brightness(1);
    transition: all 0.2s ease-in-out;
  }
  .imageGridContainer .imageGrid div.image img.generatedImage:hover {
    filter: saturate(1.5) brightness(0.6) contrast(1.2);
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(240, 214, 44, 0.3);
    border: 1px solid #f0d62c;
  }
  .generateBar {
    display: flex;
    width: 100% !important;
    align-items: center;
    justify-content: center;
    padding: 0 0;
    position: fixed;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    bottom: 0;
    border:none;
    border-radius: 2rem;
    height: 10vh;
    left: 0;
  }
  .generateBar img.upload-image {
    position: absolute;
    right: calc(120px + 1.5rem);
    width: 25px;
  }
  .generateBar input[type="text"] {
    background: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    color: #000;
    border: none;
    padding: 1rem;
    border-radius: 0;
    font-weight: 500;
    width: 100%;
    height: 10vh;
    outline: 0;
    text-indent: 1rem;
  }
  .generateBar button {
    background: #000;
    color: #fff;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 0.2rem;
    margin-right: 1rem;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .generateBar button:hover {
    background: var(--primary-color);
    color: #000;
  }
}
