:root {
  --font-family: "Inter", sans-serif;
  --primary-color: #ffd338;
  --secondary-color: white;
  --primary-bg-color: #151515;
  --primary-text-color: white;
  --wrapperSize: 1280px;
  --carousleSize: 260px;
  --carousleHeight: 180px;
  --carousleBorderRadius: 32px;
  --carousleTime: 145s;
  --imageSize: 180px;
  --imageSizeMobile: 100%;
  --imageSizeMobileHeight: 30vh;
  --sb-track-color: var(--primary-bg-color);
  --sb-thumb-color: #ffd338;
  --sb-size: 6px;
}
